 
body {
    line-height: 1.4;
    font-size: 14px;
    font-family: 'Consolas';
}
 
body:hover {
    line-height: 1.4;
    font-size: 14px;
    font-family: 'Consolas';
}

h1 {
    color: rgb(102, 145, 188);
    padding-bottom: 8px;
    font-size: 20px;
}

body h1 {
    border-bottom: 1px solid var(--vscode-textSeparator-foreground) !important;
}

h2 {
    color: rgb(102, 145, 188);
    padding-bottom: 8px;
    font-size: 18px;
}

body h2 {
    border-bottom: 1px solid var(--vscode-textSeparator-foreground) !important;
}

h3 {
    color: rgb(157,172,187);
    border-bottom: 1px solid var(--vscode-textSeparator-foreground);
    padding-bottom: 4px;
    font-size: 16px;
}

h4 {
    color: rgb(157,172,187);
    padding-bottom: 4px;
    font-size: 14px;
    font-weight:lighter;
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* Target the container of the task list */
ul,
ol,
.contains-task-list {
    padding-left: 20px !important;
    margin-bottom: 10px;
    
}

mark {
    background-color: #8A5CF51A;
    color: #A68AF9;
    border-radius: 3px;
    padding: 1px 5px;
}

.task-date {
    color: #777;
    font-size: 0.85em;
}


